<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saldırı Oyunu</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Saldırı Oyunu</h1>
    </header>
    <section id="app">
      <div id="computer" class="container">
        <h2>Bilgisayar</h2>
        <div class="hpBar">
          <div class="hpBarValue" :style="[compBarStyle,compBarColor]"></div>
          <p class="hpPerValue">%{{compHp > 0 ? compHp : 0}}</p>
        </div>
      </div>
      <div id="user" class="container">
        <h2>Kullanıcı</h2>
        <div class="hpBar">
          <div class="hpBarValue" :style="[userBarStyle,userBarColor]"></div>
          <p class="hpPerValue">%{{userHp > 0 ? userHp : 0}}</p>
        </div>
      </div>
      <div class="container" v-if="winner">
        <h2>Oyun Bitti</h2>
        <h3 v-if="winner === 'computer'">Bilgisayar Kazandı!</h3>
        <h3 v-else-if="winner === 'user'">Kullanıcı Kazandı!</h3>
        <h3 v-else="winner === 'draw'">Beraberlik!</h3>
        <button @click="newGame()">Yeni Oyun</button>
      </div>
      <div id="attacks" v-else>
        <button @click="attackToComp()">Saldırı</button>
        <button @click="superAttack()" :disabled="specialAttack">
          Süper Saldırı
        </button>
        <button @click="healUser()">İyileştir</button>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
<p>
  11 .gün VUE.JS COMPOSITION API GIRIŞ 12 .gün VUE.JS COMPOSITION API’DE
  COMPONENT YAPISI ÖĞRENME VE UYGULAMA 13 .gün VUE.JS COMPOSITION API’DE
  LIFECYCLE HOOKS ÖĞRENME VE UYGULAMA 14 .gün VUE.JS COMPOSITION API’DE FORMLAR
  ÖĞRENME VE UYGULAMA 15 .gün VUE.JS API İŞLEMLERI ÖĞRENME VE UYGULAMA 16 .gün
  FIREBASE AUTHENTICATION İŞLEMLERI ÖĞRENME VE UYGULAMA 17 .gün VUE.JS
  COMPOSITION API’DE PINIA KULLANIMINI ÖĞRENME VE UYGULAMA
</p>
