header {
  background-color: blueviolet;
  color: white;
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#frontend {
  width: 100%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  color: darkmagenta;
}
#frontend h2 {
  font-size: 30px;
  border-bottom: 4px solid grey;
}

#frontend p {
  background-color: darkmagenta;
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}
#frontend img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px auto;
}
#frontend input {
  margin: 50px auto;
  text-align: center;
}
